node_modules
.pnpm-store
.turbo
.idea
.env
.env.*
!.env.example
.DS_Store

apps/web/.nuxt
apps/web/.output
apps/web/dist
apps/mobile/android
apps/mobile/ios
apps/mobile/node_modules
apps/api/dist
apps/api/node_modules
apps/api/uploads

coverage

.claude/
